:host {
  border: 0 solid #1abc9c;
  border-bottom-width: 1px;
  display: block;
  height: 48px;
  padding: 0 16px;
}

nav a {
  color: #1abc9c;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

nav a.router-link-active {
  color: #1abc9c;
}
